/* myStyle.css */
body {
 background-color: #fffff;
 color: black;
 font-family: 'Nunito', sans-serif;
 font-weight: 400;
 
}

body a{
	text-decoration:none;
}

h3 {
 color: #333333;
 text-align: center;
 font: Comic Neue;
 font-weight: 400;
 font-family: 'Comic Neue', cursive;
}

h5 {
 color: #333333;
 text-align: center;
 font: Comic Neue;
 font-weight: 400;
 font-family: 'Comic Neue', cursive;
 color: #FFC000
}

p {
 background-color: #ffffff;
 color: #222222;
 text-align: left;
}

img.geoPlots {
  width: 95%;
  height:auto;
  min-width:300px;
  height: auto;
  padding: 0px;
  
}



img.geoPlots:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topNavigationBar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 60px 10px;
  transition: 2s;
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background-image: linear-gradient(90deg, #142540, #0B1423);
    
}

#topNavigationBar a {
  float: left;
  color: #FFE38B;
  text-align: center;
  transition:0s;
  padding: 0px 7%;
  text-decoration: none;
  font-size: 15px; 
  line-height: 25px;
  border-radius: 4px;
}

#topNavigationBar #logo {
  transition: 0.4s;
  padding: 10px 10px;  
}

#topNavigationBar a:hover {
 
  color:grey; 
}

#topNavigationBar a.active {
  color: #FFC000;
}

#topNavigationBar-right {
  float: none;
  vertical-align:top;

}

div.sideBar{
	background-color:#dddddd;
	height:60px;
	width:20%;
	text-align:center;
	white-space: nowrap; 
	overflow:hidden;
	text-overflow: ellipsis;
	float:left;
	position:absolute;
	top:300px;
	display:none;
}

div.contentFront{
	width:100%;
	float:right;
	text-align:center;
}

div.contentFront a:hover{
	overflow:visibile;
	color:#FFE38B;
}

div.Visual1{
	width:100%;
	float:right;
	min-width:350px;
}

div.Visual1 a{
	target-name:new;
	target-new:tab;
}

div.bottomBar{
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 0px 0px;
  transition: 2s;
  position: relative;
  width: 100%;
  height:10px;
  bottom: 0;
  left:0;
  color:#999999;
  font-family:'Comic Neue', cursive;
  font-size:8px;
  font-weight:200;
  background-image: linear-gradient(90deg, #142540, #0B1423);

}
	

#grad1 {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow); /* Standard syntax (must be last) */
}